.menu-bar {
  width: 100%;
  height: 30px;
  position: relative;
  top: 0;
  left: 0;
  border-bottom: 0.5px solid #a2a0a0;
  border-bottom-color: #a2a0a0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

  .left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    margin-left: 0px;

    .apple-logo {
      transform: scale(.6);
    }
    .menus {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: 20px;
      color: #666565;
      font-size: 14px;
    }
    .active {
      font-weight: bold;
      color: #fff !important;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 380px;
    margin-right: 20px;
    .vol {
      transform: scale(0.6);
      margin-right: -10px;
    }
    .menu-time {
      height: 100%;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
    .menu-ico {
      height: 100%;
      width: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      .control-center {
        -webkit-filter: invert(100%);
        filter: invert(100%);
        transform: scale(0.5);
      }
      .siri {
        transform: scale(0.7);
        object-fit: fill;
      }

      i {
        display: contents;
        font-size: 16px;
        color: #fff;
      }
    }
  }
}



@for $i from 1 through 15 {
  .li-#{$i}:hover {
    .name {
      visibility: visible !important;
    }
  }
}
