@switch (pageLayoutService.Layout$ | async) {  
  @case (PageLayout.Authorized) {
      <app-authorized-layout>
          <router-outlet />
      </app-authorized-layout>
  }

  @case (PageLayout.UnAuthorized) {
      <app-unauthorized-layout>
          <router-outlet />
      </app-unauthorized-layout>
  }

  @case (PageLayout.Error) {
      <app-error-layout>
          <router-outlet />
      </app-error-layout>
  }

  @default {
      <app-unauthorized-layout>
          <router-outlet />
      </app-unauthorized-layout>
  }
}
